.dropdown-menu {
  width: 200px;
  position: absolute;
  top: 30px;
  list-style: none;
  text-align: start;
}

.dropdown-menu li {
  background: #c6ced6;
  cursor: pointer;
}

.dropdown-menu li:hover {
  background: #879fb8;
}

.dropdown-menu-clicked {
  display: none;
}
