@import "./../../variables.scss";

.Menu {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-shrink: 0;
  justify-content: flex-start;
  width: 15rem;
  padding-top: $spacing-03;

  &.MenuHidden {
    animation: hideMenu 0.5s forwards;

    @keyframes hideMenu {
      0% {
        transform: translateX(0);
        opacity: 1;
      }
      99% {
        transform: translateX(-15rem);
        opacity: 0;
      }
      100% {
        visibility: hidden;
        width: 0;
      }
    }
  }
}
