@import "./../../../variables";

.ActionButton {
  font-size: $icon-size-01;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  color: rgba($fontColor, 0.5);
  border: 0;
  border-radius: 50%;
  outline: 0;
  background: transparent;
  transition: color 0.24s;

  &Container {
    position: relative;
  }

  &WthCnt {
    background: rgba($fontColor, 0.15);

    &:focus {
      border: 2px solid $active;
      color: $active;
    }
  }
  &Inactive {
    &:focus {
      border: 2px solid rgba($fontColor, 0.2);
    }
  }
  &Count {
    position: absolute;
    top: (-$spacing-01);
    right: (-$spacing-01);
    width: 1.5rem;
    font-size: 0.75rem;
    text-align: center;
    background: $info;
    border-radius: 1rem;
    color: $fontColorAlt;
  }
}
