@import "./../../../variables.scss";

.UserCard {
  display: flex;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  width: 15rem;
  padding: $spacing-03 $spacing-02 $spacing-02;
  border-radius: 4px;
  background: $bg-color-light;
  box-shadow: $shadow-02;

  &Link {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding-top: $spacing-01;
    border-radius: 4px;

    &:hover {
      background: rgba($active, 0.1);
    }
  }

  &Pic {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
  }

  &Name {
    margin-top: $spacing-02;
    color: $info;
  }

  &Position {
    margin: 0 0 $spacing-03;
  }

  &Hr {
    width: calc(100% + 1rem);
    margin-left: -0.5rem;
    border: 0;
    border-top: 1px solid $border;
  }
}

.UserCardButtons {
  display: grid;
  align-items: center;
  width: 100%;

  grid-gap: 0.25rem;
  grid-template-columns: 1fr 2rem;

  .ButtonFull {
    button {
      justify-content: flex-start;
      width: 100%;
    }
  }

  button {
    color: $fontColor;
  }
}

.UserTransparent {
  display: flex;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  width: 13rem;
  padding-top: $spacing-03;

  .Button {
    width: 100%;

    button {
      justify-content: flex-start;
      width: 100%;
      color: $fontColor;

      svg {
        font-size: $icon-size-03;
        margin-right: $spacing-03;
      }
    }
  }
}
