.sTest {
  display: flex;
  height: 2rem;
}
.srchBtn {
  background-color: #6d76f7; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  cursor: pointer;
}
