@import "variables";

html,
body,
#root,
.app {
  height: 100%;
  font-family: "IBM Plex Sans", sans-serif;
}

.app {
  background-color: $bg-color;
  display: flex;
  justify-content: center;
  flex-direction: column;

  &-window {
    height: 100%;
    display: flex;
  }
}

.firstLetterUpper {
  &:first-letter {
    text-transform: uppercase;
  }
}
