@import "variables";
@import "commonStyles";

html,
body,
#root,
.app {
  font-family: "Roboto", sans-serif;
  height: 100%;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  background-color: $bg-color;

  &-window {
    display: flex;
    flex: 1;
    width: 100%;
    max-width: 100rem;
    height: 100%;
    min-height: 0;
    margin: auto;
    > main {
      overflow-y: auto;
      width: 100%;
      padding: $spacing-03 $spacing-02 0;
    }
  }
}
