// colors
$bg-color: #eeebeb;
$bg-color-light: #fff;
$bg-color-light-hover: #fdfdfd;
$border: #d3d3d3;
$active: #8e9ce5;
$info: #4b90c5;
$danger: #ff5f5f;
$special: linear-gradient(45deg, #4e18cb, #199715);
$fontColor: #3c4a75;
$fontColorLight: rgb(162, 162, 162);
$fontColorAlt: white;
$header-height: 3.5rem;

// shadows
$shadow-01: 0 0 12px rgba(91, 94, 106, 0.2);
$shadow-02: 0 2px 6px rgba(91, 94, 106, 0.3);
$shadow-02-press: 0 1px 3px rgba(91, 94, 106, 0.4);

// fonts
$font-size-01: 1.25rem;
$font-size-02: 1rem;
$font-size-03: 0.75rem;
$icon-size-01: 1rem;
$icon-size-02: 1.25rem;
$icon-size-03: 1.5rem;

// spacings {
$spacing-01: 0.4rem;
$spacing-02: 0.6rem;
$spacing-03: 0.75rem;
$spacing-04: 1rem;
$spacing-05: 1.5rem;
$spacing-06: 2rem;
$spacing-07: 3rem;

@mixin topArrow($color, $width) {
  border-right: $width solid transparent;
  border-bottom: $width solid $color;
  border-left: $width solid transparent;
}

@mixin truncate() {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
